Source: clerk
Section: sound
Priority: optional
Maintainer: Fritz Reichwald <reichwald@b1-systems.de>
Build-Depends: debhelper (>= 10.0),
	       dh-exec
Standards-Version: 4.1.1
Homepage: https://github.com/carnager/clerk

Package: clerk
Architecture: all
Depends: libconfig-simple-perl,
	 libdata-messagepack-perl,
	 libfile-slurper-perl,
	 libhttp-date-perl,
	 libipc-run-perl,
	 libnet-mpd-perl,
	 libtry-tiny-perl,
	 rofi,
	 ${misc:Depends}
Suggests: fzf
Description: MPD client using rofi or fzf
 This client focuses easy manipulation of the mpd queue.